CompileFlags:
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc++
    - -std=gnu++20
